* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #000;
  /* padding: top, right, buttom, left */
}

header li {
  color: #fff;
}

main {
  background-color: #fff;
}

div {
  background-color: aqua;
  height: 20px;
}

h1 {
  border: 3px solid green;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  color: #fff;
}

footer{
  background-color: #000;
  color: #fff;
}
