@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root{
  --primary-color: #fff;
  --secondary-color: #e7814b;
  --tertiary-color:#9a5a1d;
  --font-color: #2a1910;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  position: relative;
}

body .left {
  background-color: var(--secondary-color);
  flex: 0.3;
}

body .right {
  background-color: var(--primary-color);
  flex: 0.7;
}

header {
  position: absolute;
  display: flex;
  min-width: 100vw;
  justify-content: space-between;
}

header .logo__container {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  gap: 0.3rem;
}

.logo__container span {
  color: var(--primary-color);
  border-left: 1px solid var(--font-color);
  font-size: 0.9rem;
  padding-left: 0.3rem;
}

nav ul{
  display: flex;
  gap: 0.3rem;
  padding: 0.7rem;
}

ul li a {
  color: var(--font-color);
  text-decoration: none;
  font-size: 0.7rem;
}